# Игнорировать все файлы в проекте, которые заканчиваются на .pro.user
Application/*.pro.user

# Игнорировать все файлы в проекте, которые заканчиваются на .bat
Application/*.bat

# Игнорировать все директории, которые начинаются на build (сборки проекта)
build*/